<div class="jumbotron"  class="header">
    <div class="text-center">
        <h1 class="display-4">Moksh Parikh</h1>
        <h3>Software Engineering</h3>
        <div class="social-icons">
        <a href="https://www.linkedin.com/in/moksh-parikh-151060284" target="_blank" class="social-link">
            <img src="../../assets/linkedin.png" width="24" height="24" class="rounded-circle me-2" alt="LinkedIn Icon">
        </a>
  
        <a href="https://github.com/mokshparikh" target="_blank" class="social-link">
            <img src="../../assets/Github.png" width="24" height="24" class="rounded-circle me-2" alt="Twitter Icon">
        </a>
         
        <a href="https://x.com/Mokshparikh23" target="_blank" class="social-link">
            <img src="../../assets/Twitter Logo.png" width="24" height="24" class="rounded-circle me-2" alt="GitHub Icon">   
        </a>
    
    </div>
    </div>
</div>
